* {
    box-sizing: border-box;
}

body {
    width: 980px;
    margin: 0 auto;
}

.container {
    padding-right: 20px;
}
.row {
    clear: both;
}
.col {
    float: left;
    margin-left: 20px;
    width: 60px;
}
/* Duas colunas de largura de 120px e uma adicional com largura de 20px */
.col.span2 { width: 140px; }
/* Tres colunas de largura de 180px e duas adicionais com largura de 40px */
.col.span3 { width: 220px; }
/* Assim por diante */
.col.span4 { width: 300px; }
.col.span5 { width: 380px; }
.col.span6 { width: 460px; }
.col.span7 { width: 540px; }
.col.span8 { width: 620px; }
.col.span9 { width: 700px; }
.col.span10 { width: 780px; }
.col.span11 { width: 860px; }
.col.span12 { width: 940px; }

/*Estilos gerais*/
body{
  font-family: Arial, Helvetica,sans-serif;
  padding:0;
  background-color:#f4f4f4;
}

ul,h1,h2,h3,h4,h5,h6,p,section{
    margin:0;
    padding:0;
}

a{
    text-decoration: none
}

/*Header*/
header{
    background:#000;
    color:#ffffff;
    padding-top:20px;
    min-height:70px;
    border-bottom:#1de827 3px solid;
}
header h1{
    float: left;
    margin: 0;
    padding: 0 20px 0 20px
}
header nav{
    float: right;
    margin-top: 10px;
}
header li{
    display: inline;
    padding: 0 20px 0 20px;
}
header a{
    color:#ffffff;
    text-transform: uppercase;
    font-size:16px;
}
header a:hover{
    color:#cccccc;
}

/*Section showcase*/
#showcase{
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat -315px -792px;
    color: #ffffff;
    text-align: center
}
#showcase h1, #showcase p{
    position: relative;
    top: 100px
}
#showcase h1{
   font-size:55px;
}

/*Section newsletter*/
#newsletter{
    background: #000;
    color: #ffffff;
    min-height:70px;
}
#newsletter input[type="email"]{
    padding:4px;
    height:38px;
    width:250px;
}
#newsletter h2,#newsletter form{
    padding-top: 15px
}
.button{
    height: 38px;
    background: #1de827;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/*Section box-languages*/
#box-languages .box{
    text-align: center;
    padding:10px;
}

#box-languages .box img{
    width: 90px;
}

/*Section footer*/
footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#1de827;
    text-align: center;
  }

/*Highlight*/
.highlight{
    color:#1de827;
    font-weight:bold;
}
